.App {
  text-align: center;
}

.input{
  margin-top: 100px;
  
}
.list{
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.card{
  margin: 10pxs;
}
.form{
  margin-top: 50px;
  border: 2px solid grey;
  border-radius: 10px;
  width: 65%;
  padding: 15px;
  margin-left: 250px;

}
.btn{
  margin-left: 430px;
}
.error{
  color: red;
}